.bcard-side
  #title-block
    %h1
      .title= @title
  .playingcard-bl= @b_card.cardtext

.wcard-side
  -@wh_playcards.each do |wc|
    .playingcard-wh= wc.cardtext
#cag
  %p
    This site is an homage to the best game ever, 
    %a{ :href => "http://cardsagainsthumanity.com/" }
      Cards Against Humanity. 
    Do yourself a favor and buy it.
    %br
    Like the real game, this site's code and content is free to use under the 
    %a{ :href => "http://creativecommons.org/licenses/by-nc-sa/3.0" }
      Creative Commons BY-NA-SA 3.0 License.
    %br
    %a{ :href => "https://github.com/ursooperduper/eau-de-humanity" }
      Fork it on Github, if you dare.